<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="text-light">
        <h1 class="display-4">¡Bienvenido a nuestra página de películas!</h1>
        <p class="lead">Este es un lugar simple para los amantes del cine para explorar y descubrir nuevas películas.</p>
        <hr class="my-4">
        <p>Descubre más sobre tus películas favoritas.</p>
        <a class="btn btn-primary btn-lg" routerLink="/home" role="button">Explorar ahora</a>
    </div>
</div>
